/********Global*********/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/***********Header************/

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}

.header-container {
    width: 960px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

div.branding {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    width: 170px;
    height: 60px;
    
}

div.branding h3 {
    align-items: center;
    color: white;
    padding: 0 10px;
}

nav ul {
    display: flex;
    list-style: none;
    flex-flow: row;
}

nav ul li a {
    text-decoration: none;
    color: gray;
    padding: 0 10px;
    font-size: 15px;
    border-right: 1px solid rgb(235, 234, 234);
}

#contact {
    border-right: none;
}

a:hover {
    color: #4aaaa5;
}

/*********Index.HTML********/
.container {
    width: 960px;
    margin: 0 auto;
}
.main-content {
    background-color: #ffffff;
}

p.clear {
    clear: both;
}


/********************Footer*******************/
footer {
    background-color: #666666;
    position: sticky;
    
    overflow: hidden;
}

footer p {
    font-size: 13px;
    align-items: flex-end;
    color: #fff;
}